---
import { getCollection } from "astro:content";
const blogEntries = await getCollection("blogcollection");
console.log(blogEntries)
---
<p>Blogovi</p>
<a href="/fitnestdemo/blog/kako-smo-dosli-do-1m-korisnika-u-369-dana">1m korisnika 369d</a>


<!-- Iz nekog razloga ne povlaci kolekciju za sad. -->
<ul>
  {
    blogEntries.map((blogPostEntry: any) => (
      <li>
        <a href={`/fitnestdemo/blog/${blogPostEntry.slug}`}>{blogPostEntry.data.title}</a>
        <time datetime={blogPostEntry.data.publishedDate.toISOString()}>
          {blogPostEntry.data.publishedDate.toDateString()}
        </time>
      </li>
    ))
  }
</ul>
