---
import { getEntry } from "astro:content";
const landingContent = await getEntry("landingPage", "prva-verzija");
---

<main>
    <p class="about-us">Ovo je prica o nama.</p>
    <h1>{landingContent.data.title}</h1>
    <p>Idi <a href="/fitnestdemo">nazad</a></p>
</main>

<style>
    main {
        text-align: center;
    }
</style>
